body {
  font-family: "Poppins";
}

.container {
  width: calc(100%-100px);
  margin: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 30px;
}

.navbar-container a {
  text-decoration: none;
}

.navbar-container img {
  width: 5%;
  inline-size: none;
  align-items: center;
  justify-content: center;
}

.navbar-container .logo {
  font-size: 20px;
  font-style: italic;
  font-weight: 800;
  color: #102c57;
}

.navbar-container span {
  color: #dac0a3;
}

.navbar-container .Navbar a {
  font-weight: 500;
  font-size: 14px;
  color: #111;
  display: inline-block;
  margin: 0 3px;
  border: 1px solid #111;
  border-radius: 8px;
  padding: 3px 10px;
}

.navbar-container .Navbar a:hover {
  background-color: #102c57;
  color: aliceblue;
}

hr {
  border: 1px solid #111;
}

.headline {
  display: grid;
  justify-items: center;
}

.headline h1 {
  color: #102c57;
}

.headline p {
  font-weight: 700;
  margin-bottom: 30px;
}

.content-head {
  display: flex;
  margin: 0 50px;
  gap: 20px;
}

.content-head .slideshow-container {
  position: relative;
  margin: auto;
  flex: 50%;
  border: 1px solid #111;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.content-head .contact-form-container {
  flex: 10%;
  background-color: #dac0a3;
  border-radius: 10px;
  padding-bottom: 5px;
}

.content-head .contact-form-container h3 {
  display: flex;
  justify-content: center;
}

.content-head .contact-form-container p {
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

.content-head .contact-form-container #contact {
  display: grid;
  justify-content: center;
}

.content-head .contact-form-container label {
  font-size: 12px;
  font-weight: 500;
  margin-top: 15px;
}

input[type="text"],
select {
  padding: 6px 5px;
  border: 1px solid #111;
  border-radius: 3px;
  justify-content: left;
}

.content-head .contact-form-container button {
  margin: 20px 0;
  padding: 10px 30px;
  font-weight: bold;
  background-color: #102c57;
  color: aliceblue;
  border: 1px solid #102c57;
  border-radius: 3px;
}

.testimoni {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  margin-top: 20px;
}

.user-testimoni {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.user-testimoni img {
  width: 50px;
  height: 50px;
}

.user-testimoni .nama-user h4,
p {
  padding: 0 20px;
  margin: 0;
}

.user-testimoni .nama-user h4 {
  color: #102c57;
}

.user-testimoni .nama-user p {
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
}

.service h2 {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #102c57;
  color: #dac0a3;
}

.service p {
  display: flex;
  justify-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin-right: 200px;
  margin-left: 200px;
  padding: 0;
}

.service-products {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 0;
}

.service-products img {
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.service-products .vacation-package {
  display: grid;
  justify-items: center;
}

.service-products .vacation-package h4 {
  margin: 10px 0;
  color: #102c57;
}

.service-products .plane-ticket {
  display: grid;
  justify-items: center;
}

.service-products .plane-ticket h4 {
  margin: 10px 0;
  color: #102c57;
}

.service-products .acomodation {
  display: grid;
  justify-items: center;
}

.service-products .acomodation h4 {
  margin: 10px 0;
  color: #102c57;
}

.service-products p {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.our-package h2 {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #102c57;
  color: #dac0a3;
}

.our-package p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin-right: 200px;
  margin-left: 200px;
  padding: 0;
}

.collumn {
  display: flex;
  flex: 10%;
  padding: 20px 0;
  margin-left: 300px;
  margin-right: 300px;
}

table {
  border-collapse: collapse;
  border: 1px solid #102c57;
  border-spacing: 0;
  width: 100%;
}

td,
th {
  border: 1px solid #102c57;
  padding: 8px;
}

.end h2 {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #102c57;
  color: #dac0a3;
}

.end p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin-right: 200px;
  margin-left: 200px;
  padding: 0;
}

footer {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  background-color: #dac0a3;
  padding: 20px;
}

footer span {
  color: #102c57;
  font-weight: 700;
  font-style: italic;
}
